.wrap {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #f7f8fa;

  .content {
    display: flex;
    width: 100%;
    height: calc(100% - 60px);

    .sider {
      height: 100%;
      background: #fff;
      border-right: 1px solid rgb(5 5 5 / 6%);

      .sider-menu {
        height: calc(100% - 60px);
      }
    }

    .main {
      flex: 1;
      height: 100%;
      min-width: calc(100% - 257px);
      overflow: auto;
    }
  }

  :global {
    .ant-menu-light.ant-menu-root.ant-menu-inline,
    .ant-menu-light.ant-menu-root.ant-menu-vertical {
      height: calc(100vh - 107px);
      border-inline-end: 0 solid rgb(5 5 5 / 6%);

      &:hover {
        overflow-y: auto;
      }
    }

    .ant-layout-sider-trigger {
      position: fixed;
      bottom: 0;
      padding: 12px;
      text-align: center;
      cursor: pointer;
    }
  }
}
