a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
button,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
select,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
textarea,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  padding: 0;
  margin: 0;
  word-break: break-all;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
}

body {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
  font-family: 'PingFang SC', 'Lantinghei SC', 'Microsoft YaHei', 'HanHei SC', 'Helvetica Neue',
    'Open Sans', Arial, 'Hiragino Sans GB', '微软雅黑', STHeiti, 'WenQuanYi Micro Hei', SimSun,
    sans-serif, HYWenHei-GEW !important;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f2f6;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

code {
  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
}

.elli_2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

  /* 指定行数，溢出则隐藏 */
  overflow: hidden;
  text-overflow: ellipsis;
}

.pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

/* 垂直方向 排序 */
.flex-column {
  flex-direction: column;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.flex-reverse-wrap {
  flex-wrap: wrap-reverse;
}

/* 交叉轴对齐方向 */
.flex-align-center {
  align-items: center;
}

/* 左对齐 */
.flex-align-start {
  align-items: flex-start;
}

/* 右对齐 */
.flex-align-end {
  align-items: flex-end;
}

/* 居中对齐 */
.flex-justify-center {
  justify-content: center;
}

.flex-justify-end {
  justify-content: flex-end;
}

.flex-justify-start {
  justify-content: flex-start;
}

/* 分散对齐 */
.flex-justify-between {
  justify-content: space-between;
}

/* 距离盒子两边间距相同 */
.flex-justify-around {
  justify-content: space-around;
}

.height-40 {
  height: 40px;
}

.height-55 {
  height: 55px;
}

.margin-right-15 {
  margin-right: 15px;
}

.margin-left-15 {
  margin-left: 15px;
}

.margin-right-30 {
  margin-right: 30px;
}

.margin-left-30 {
  margin-left: 30px;
}

.padding-left-30 {
  padding-left: 30px;
}

.padding-right-30 {
  padding-right: 30px;
}

.padding-left-15 {
  padding-right: 15px;
}

.padding-right-30 {
  padding-right: 30px;
}

.padding-15-30 {
  padding: 15px 30px;
}

.padding-15 {
  padding: 15px;
}

.padding-30 {
  padding: 30px;
}

.border-bottom-1 {
  border-bottom: 1px solid rgb(228 225 225);
}

.menuLabel {
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    opacity: 0;
    transform: scaleY(0.0001);
    border-left: 4px solid #3a7dff;
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
      opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  &:hover {
    background: rgb(245 248 255 / 100%);
  }

  &.active {
    background: rgb(245 248 255 / 100%);

    &::after {
      content: '';
      opacity: 1;
      transform: scaleY(1);
      transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
        opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }
}

img:not([src]),
img[src=''],
video[src=''] {
  opacity: 0;
}
